@page "{id:guid}"
@model KoiFarmShop.RazorWebApp.Pages.KoiAppointment.DetailsModel

@{
    ViewData["Title"] = "Appointment Details";
}

<h1>Appointment Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">Appointment ID</dt>
        <dd class="col-sm-10">@Model.Appointment.Id</dd>

        @if (Model.Appointment.Customer != null)
        {
            <dt class="col-sm-2">Customer</dt>
            <dd class="col-sm-10">@Model.Appointment.Customer.FullName</dd>
        }

        @if (Model.Appointment.Pet != null)
        {
            <dt class="col-sm-2">Pet</dt>
            <dd class="col-sm-10">@Model.Appointment.Pet.Name</dd>
        }

        @if (Model.Appointment.PetService != null)
        {
            <dt class="col-sm-2">Pet Service</dt>
            <dd class="col-sm-10">@Model.Appointment.PetService.Name</dd>
        }

        @if (Model.Appointment.ComboService != null)
        {
            <dt class="col-sm-2">Combo Service</dt>
            <dd class="col-sm-10">@Model.Appointment.ComboService.Name</dd>
        }

        <dt class="col-sm-2">Date</dt>
        <dd class="col-sm-10">@Model.Appointment.AppointmentDate.ToString("f")</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Appointment.Status</dd>

        @if (Model.Appointment.AcceptedDate != null)
        {
            <dt class="col-sm-2">Accepted Date</dt>
            <dd class="col-sm-10">@Model.Appointment.AcceptedDate?.ToString("f")</dd>
        }

        @if (Model.Appointment.CompletedDate != null)
        {
            <dt class="col-sm-2">Completed Date</dt>
            <dd class="col-sm-10">@Model.Appointment.CompletedDate?.ToString("f")</dd>
        }
    </dl>
</div>

<p>
    <a asp-page="Index" class="btn btn-secondary">Back to List</a>
</p>