@page "{id:guid}"
@model KoiFarmShop.RazorWebApp.Pages.KoiAppointment.DetailsModel

@{
    ViewData["Title"] = "Appointment Details";
}

<h1>Appointment Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">Appointment ID</dt>
        <dd class="col-sm-10">@Model.Appointment.Id</dd>

        <dt class="col-sm-2">Customer ID</dt>
        <dd class="col-sm-10">@Model.Appointment.CustomerId</dd>

        <dt class="col-sm-2">Pet ID</dt>
        <dd class="col-sm-10">@Model.Appointment.PetId</dd>

        <dt class="col-sm-2">Service ID</dt>
        <dd class="col-sm-10">@Model.Appointment.PetServiceId</dd>

        <dt class="col-sm-2">Combo Service ID</dt>
        <dd class="col-sm-10">@Model.Appointment.ComboServiceId</dd>

        <dt class="col-sm-2">Date</dt>
        <dd class="col-sm-10">@Model.Appointment.AppointmentDate.ToString("f")</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Appointment.Status</dd>

        <dt class="col-sm-2">Accepted Date</dt>
        <dd class="col-sm-10">@Model.Appointment.AcceptedDate?.ToString("f")</dd>

        <dt class="col-sm-2">Completed Date</dt>
        <dd class="col-sm-10">@Model.Appointment.CompletedDate?.ToString("f")</dd>
    </dl>
</div>

<p>
    <a asp-page="Index" class="btn btn-secondary">Back to List</a>
</p>
